<div class="flex items-center justify-center min-h-screen">
  <div class="flex flex-col px-20 py-16 shadow-2xl bg-gray-50 rounded-2xl">
    <h2 class="text-3xl font-semibold text-center font-vollkron">Login</h2>
    <h3 class="mt-2 text-center text-md font-poppins text-slate-500">
      Don't have an account?
      <a
        [routerLink]="['/register']"
        class="font-bold duration-300 hover:underline"
        >register here</a
      >
    </h3>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="userLogin()"
      class="flex flex-col"
    >
      <input
        type="text"
        class="mt-4 rounded-lg placeholder:text-center md:placeholder:text-left focus:border-gray-500 focus:ring-0 font-poppins placeholder:font-poppins"
        placeholder="Enter your username"
        formControlName="username"
      />

      <div
        class="mt-2 ml-2 text-red-600 font-poppins"
        *ngIf="
          !loginForm.get('username')?.valid &&
          loginForm.get('username')?.touched
        "
      >
        username is required
      </div>

      <input
        type="password"
        class="mt-4 rounded-lg placeholder:text-center md:placeholder:text-left focus:border-gray-500 focus:ring-0 font-poppins placeholder:font-poppins"
        placeholder="Enter your password"
        formControlName="password"
      />

      <div
        class="mt-2 ml-2 text-red-600 font-poppins"
        *ngIf="
          !loginForm.get('password')?.valid &&
          loginForm.get('password')?.touched
        "
      >
        password is required
      </div>

      <button
        [disabled]="loginForm.invalid"
        class="px-2 py-3 mt-4 font-bold text-center text-white duration-300 bg-gray-700 rounded-xl hover:bg-gray-500 font-"
      >
        Login
      </button>
    </form>
  </div>
</div>
