<div class="w-screen px-6 py-6 bg-gray-900 md:px-0">
  <nav class="flex items-center justify-between font-bold text-white">
    <span class="ml-10 text-4xl font-vollkron">TODO APP</span>
    <!--Menu-->
    <div
      class="hidden h-10 md:items-center font-poppins md:flex md:space-x-10 md:mr-10"
    >
      <div
        *ngIf="!isLoggedIn"
        class="px-2 py-2 duration-500 hover:bg-gray-500 rounded-2xl group"
      >
        <a [routerLink]="['/login']" class="text-lg text-center">Login</a>
      </div>
      <div
        *ngIf="!isLoggedIn"
        class="px-2 py-2 duration-500 hover:bg-gray-500 rounded-2xl group"
      >
        <a [routerLink]="['/register']" class="text-lg text-center">Register</a>
      </div>
      <div
        *ngIf="isLoggedIn"
        class="px-2 py-2 duration-500 hover:bg-gray-500 rounded-2xl group"
      >
        <a class="text-lg text-center">New-Todo</a>
      </div>
      <div
        *ngIf="isLoggedIn"
        class="px-2 py-2 duration-500 hover:bg-gray-500 rounded-2xl group"
      >
        <a href="#" class="text-lg text-center">Logout</a>
      </div>
    </div>
  </nav>
</div>
